body { background-color: #D6EAF8; 
      font-family: Verdana, Arial;
	  background-image: url(background.gif);
}
header { background-color: #D6DBDF;
        height: 150px;	
}
h1 { padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}
h4 { background-color: #D2B48C;
    font-size: 1.2em;
	padding-left:   .5em;   
	padding-bottom: .25em;    
}
nav { text-align: center; 
     font-weight: bold; 
	 font-size: 1.5em;
	 padding-top: 10px;
}
nav a { text-decoration: none; 
	 color: black;
}
main { padding-left: 2em;
      padding-right: 2em;
	  padding-bottom: 2em;
	  display: block;
}
footer { background-color: #F8F9F9;
       font-size: .60em;
	   font-style: italic;
	   text-align: center;
}
#wrapper { width: 80%;
           margin-right: auto;
		   margin-left: auto;
		   background-color: #E8F8F5;
		   min-width: 900px;
		   max-width: 1280px;
		   box-shadow: 3px 3px 3px #666666;
		   padding: 10px;
}
.details { padding-left: 20%;
           padding-right: 20%;
}
img { padding-left: 10px;
     padding-right: 10px;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

dt {
	margin-bottom: 2px;
}

dd {
	margin-bottom: 10px;
}